<div class="container">
    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title text-center">News</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <img src="assets/images/news.jpg" alt="news"
                    style="width: 200px;height: 100px; margin-right: auto; margin-left: auto; display: block;" />
                <br>
                <select name="newscat" style="width: 100%;padding: 10px;" [(ngModel)]="page" (change)="loadNews()">
                    <option value="" >Select Category</option>
                    <option value="all">All</option>
                    <option value="business">Business</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="health">Health</option>
                    <option value="science">Science</option>
                    <option value="sports">Sports</option>
                    <option value="technology">Technology</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div [ngStyle] ="{'display' : isCreate?  'block' : 'none'}" class="text-center">
    <img src="assets/images/loader.gif" style="height: 50px; margin-left: 50px;" alt="" >
</div>

<div class="container"  [ngStyle] ="{'display' : !isCreate?  'block' : 'none'}">
    <div>
        <div class="col-md-3 newstab" *ngFor="let art of article, index as i" >
            <img src="{{article[i].urlToImage}}" class="img-responsive" style="height: 120px; width: 200px; margin-top: 5px;">
            <h6 style="font-weight: 900;">{{article[i].title | summary : 15}}</h6>
            <p>{{article[i].description | summary : 30}}</p>
            <hr>
            <a href="{{article[i].url}}" target="_blank"><button type="button" class="btn-success">Read More...</button> </a>
        </div>
    </div>

</div>

<br><br><br><br><br><br><br>
