<div class="container">

    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title text-center">Movies</div>
                </div>     
                <div style="padding-top:30px" class="panel-body" >
                    <img src="assets/images/movie.jpeg" alt="news" style="width: 200px;height: 100px; margin-right: auto; margin-left: auto; display: block;" />
                    <br>
                    <input type="text" style="width: 100%;padding: 10px;" placeholder="Serach the Movies Here...." [(ngModel)]="movie">
                    <br><br>
                    <button type="button" class="btn-success" (click)="searchMovie()">Search</button>
                  
                    </div>                     
                </div>  

                <div [ngStyle] ="{'display' : isCreate?  'block' : 'none'}">
                    <img src="assets/images/loader.gif" style="height: 100px; margin-left: 200px;" alt="" >
                </div>

                <div class="alert alert-danger" *ngIf="response == 'False' " [ngStyle] ="{'display' : !isCreate?  'block' : 'none'}">
                    <p>Movie Not Found</p>
                </div>

                <div [align]="'center'" class="bg-primary font" *ngIf="response == 'True'" style="padding: 10px;" [ngStyle] ="{'display' : !isCreate?  'block' : 'none'}">
                    <h3 class="text-center" style="padding: 10px;">Movie Information</h3>
                    <img src="{{poster}}" alt=""><br><br>

                    <table style="margin-left: 100px;">
                        <tr>
                            <td class="bold">Movie</td>
                            <td> : </td>
                            <td>{{movieName}}</td>
                        </tr>
                        <tr>
                            <td class="bold">Director </td>
                            <td> : </td>
                            <td>{{director}}</td>
                        </tr>
                        <tr>
                            <td class="bold">Writers</td>
                            <td> : </td>
                            <td>{{writer}}</td>
                        </tr>
                        <tr>
                            <td class="bold">Starings</td>
                            <td> : </td>
                            <td>{{starings}}</td>
                        </tr>
                        <tr>
                            <td class="bold">Genres</td>
                            <td> : </td>
                            <td>{{genres}}</td>
                        </tr>
                        <tr>
                            <td class="bold">Language</td>
                            <td> : </td>
                            <td>{{Language}}</td>
                        </tr>
                        
                        <tr>
                            <td class="bold">Runtime</td>
                            <td> : </td>
                            <td>{{runtime}}</td>
                        </tr>
                        <tr>
                            <td class="bold">Country</td>
                            <td> : </td>
                            <td>{{country}}</td>
                        </tr>
                        <tr>
                            <td class="bold">Awards</td>
                            <td> : </td>
                            <td>{{awards}}</td>
                        </tr>
                        <tr>
                            <td class="bold">Release Date</td>
                            <td> : </td>
                            <td>{{relaseDate}}</td>
                        </tr>
                        <tr>
                            <td class="bold">Plot</td>
                            <td> : </td>
                            <td>
                                {{plot}}
                            </td>
                        </tr>
                    </table>
                </div>
<br><br><br><br><br><br><br>
                
</div>


